<div class="container">

  <div class="horizon scroll">
    <%= image_tag "blackboard2.png" %>
  </div>

  <div class="middle scroll">
   <%= image_tag "middle2.png" %>
  </div>

  <div class="front scroll">
   <!--  <h1 class="intro">Scroll down</h1> -->
      <!-- <div class="panel0 page sign">
        <i class="fas fa-cocktail heart-off" aria-hidden="true"></i>
      </div> -->

    <div class="panel0 page">

      <h1 class="neon" data-text="U">CA<span class="flicker-slow">G</span>E
      <br>
      <span class="flicker-fast slim">T</span><span class="slim">AILS</span></h1>

    </div>

    <div class="panel1 page">
      8 SIGNATURE <br>
      COCKTAILS
    </div>

    <div class="panel2 page">
      SEARCH <br>
      AND UPLOAD

    </div>

    <div class="panel3 page">
      TO YOUR HEART'S <br>
      CONTENT

    </div>

    <div class="panel4 page heartbeat">
      LOADING <br>
      MODEL ...

    </div>
  </div>
</div>

