<h1>Cocktails#index</h1>

<ul>
<% @cocktails.each do |cocktail| %>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    <%= cl_image_tag cocktail.user_image, height: 50, width: 50, crop: :fill %>
  </li>
<% end %>
</ul>

<hr>
<%= link_to "Add new cocktail", new_cocktail_path %>

